@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display');

html {
    background: linear-gradient(to bottom left,#add8e6 50%, #99C0CC 50%);
    height: 100%;
    background-size: cover;
}

#rock, #paper, #scissors 
{
    border: 1px solid black;
    background: white;
    border-radius: 10px;
    font-size: 30px;
    letter-spacing: -2px;
    box-shadow: 0 8px 6px -6px gray;
    font-weight: bolder;
    text-transform: uppercase;
}

#rock:hover, #paper:hover, #scissors:hover {
    border: 1px solid gray;
    color: gray;
}

.container {
    margin-top: 300px;
    font-family: Arial, Helvetica, sans-serif;
}

button:focus {
    outline: 0;
}

#roundHeading {
    font-weight: 900;
    letter-spacing: -1px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

.scores {
    font-size: 12px;
    background: white;
    height: 13px;
    width: 315px;
    font-family: 'Major Mono Display', monospace;
}

.outcomeWindow {
    text-transform: uppercase;
    font-size: 12px;
    color: #3A6E7F;
    font-weight: bold;
    border: 1px solid rgb(173, 173, 173);
    border-radius: 10px;
    height: 13px;
    width: 315px;
}

.winnerWindow {
    text-transform: uppercase;
    font-size: 12px;
    color: #C0EFFF;
    font-weight: bold;
    border: 1px solid rgb(173, 173, 173);
    border-radius: 10px;
    height: 13px;
    width: 315px;
    margin-top: 5px;
}

#instruct {
    font-size: 15px;
    font-family: 'Major Mono Display', monospace;
}